{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
 <h1>{{ post.title }}</h1>
 <p class="date">
 Published {{ post.publish }} by {{ post.author }}
 </p>
 {{ post.body|markdown|truncatewords_html:30 }}
 <p>
    <a href="{% url "blog:post_share" post.id %}">
    Share this post
    </a>
    </p>

    <h2>Similar Post{{ similar_posts.count|pluralize }}</h2>
    {% for post in similar_posts %}
        <p class="similar_posts">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
    {% empty %}
        There are no similar posts yet.
    {% endfor %}
    <hr>
    <h2> Tags:</h2>
    <br>
    {% for tag in tags %}
        <a href="{% url "blog:list_collection_by_tag" tag.slug %}">{{ tag }}</a>
    {% endfor %}
    {% with comments.count as total_comments %}
    <h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
    <hr>
    <div class="comments">
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                comment {{ forloop.counter }} by {{ comment.name }} at {{ comment.created }} <br>
            </p>
                {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p> There is no comment for this post </p>
    {% endfor %}
    </div>    
    {% endwith %}
    {% include "blog/post/includes/comment_form.html" %}
{% endblock %}